@keyframes scroll {
  0% { transform: translate3d(0, 110%, 0) }
  100% { transform: translate3d(0, -100%, 0); }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes starLight {
  0% {background-color: var(--color-yellow);}
  30% {background-color: #fff; }
  50% {background-color: #99f}
  80% {background-color: #fff; }
  100% {background-color: var(--color-yellow);}
}

.StarWars {

}
.StarWars-sky {
  animation: fadeIn 3s ease-in;
}
.StarWars-star {
  position: fixed;
  width: 1px;
  height: 1px;
  background: #fff;
  animation: starLight 5s linear 0s infinite;
}

.StarWars-wrapper {
  position: fixed;
  width: 110vw;
  bottom: 0;
  left: 50%;
  margin-left: -55vw;
  font-size: 1.5em;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(50vh) rotateX(25deg);
}

@media (min-width:500px) {
  .StarWars-wrapper {
    font-size: 2em;
  }
}
@media (min-width:800px) {
  .StarWars-wrapper {
    font-size: 2.5em;
  }
}

.StarWars-wrapper::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}

.StarWars-content {
  position: relative;
  transform: translate3d(0, 110%, 0);
  animation: scroll 150s linear -2s;
}

.StarWars-content p {
  margin: 0.5em;
}

.StarWars-content p:empty {
  margin: 1.5em;
}
