:root {
  --layout-padding: 20px;
  --color-yellow: #ff6;
}
@keyframes logo {
  0% { transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}

html,body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: var(--color-yellow);
  background-color: #000;
  padding: var(--layout-padding);
  box-sizing: border-box;
  font-size: calc( 16px + (30 - 16) * ( (100vw - 320px) / ( 1024 - 320) ));
}

.App-title {
  font-size: 10em;
  text-align: center;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  margin: auto;
  color: #000;
  text-shadow: -0.01em -0.01em 0 #ff6, 0.01em -0.01em 0 #ff6, -0.01em 0.01em 0 #ff6, 0.01em 0.01em 0 #ff6;
  z-index: 1;
  font-size: calc( 80px + (200 - 80) * ( (100vw - 320px) / ( 1024 - 320) ));
}
@media (min-width: 1024px) {
  .App {
    font-size: 30px;
  }

  .App-title {
    font-size: 200px;
    max-width: 800px;
  }
}
.App-quiz {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;

}
.App-quiz--fade {
  animation: logo 5s ease-out 2.5s;
  opacity: 0;
}

.App-subTitle {
  text-align: center;
}
.App-header {
  flex: 1 0 auto;
}
.App-content {
  flex: 0 0 auto;
}
