:root {
  --layout-padding: 20px;
}
@keyframes logo {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}

html,body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: var(--color-yellow);
  background-color: #000;
  padding: var(--layout-padding);
  box-sizing: border-box;
  font-size: calc( 16px + (20 - 16) * ( (100vw - 320px) / ( 1024 - 320) ));
}

.App-title {
  font-size: 10em;
  text-align: center;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  margin: 0 auto;
  color: #000;
  text-shadow: -0.02em -0.02em 0 #ff6, 0.02em -0.02em 0 #ff6, -0.02em 0.02em 0 #ff6, 0.02em 0.02em 0 #ff6;
  z-index: 1;
  font-size: calc( 80px + (150 - 80) * ( (100vw - 320px) / ( 1024 - 320) ));
}
@media (min-width: 1024px) {
  .App {
    font-size: 20px;
  }

  .App-title {
    font-size: 150px;
    max-width: 800px;
  }
}
.App-quiz {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  opacity: 1;
  transform: scale(1);
  transition: opacity 5s ease-out, transform 5s ease-out;
  position: relative;
  z-index: 1;

}
.App-quiz--fade {
  opacity: 0;
  transform: scale(0.1);
  pointer-events: none;
}

.App-subTitle {
  text-align: center;
}

.App-header {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-content {
  flex: 0 0 auto;
  padding: 0 10px;
}

.App-actions {
  display: flex;
}

.App-action {
  border: none;
  color: #000;
  font: inherit;
  background: var(--color-yellow);
  line-height: 2em;
  padding: 1em;
  flex: 1;
  margin: 10px;
  cursor: pointer;
}
.App-action:focus {
  color: #44f;
  border: 2px solid;
}
